<a class="c-prom" href="#">
	<div class="c-prom__inner">
		<div class="c-prom__col c-prom__col--img">
			<div class="c-prom__imgBox">
				<img class="c-prom__img" src="{{ '/images/' ~ 'slider1.png' }}" alt="Дабу сет">
				<div class="c-prom__labels">
					<div class="c-prom__label c-prom__label--name">Дабу сет</div><br>
					<div class="c-prom__label c-prom__label--count">24&nbsp;шт. <span class="c-prom__price">599&nbsp;р.</span></div>
				</div>
			</div>
		</div>
		<div class="c-prom__col c-prom__col--data">
			<div class="c-prom__title">Двойной дабу&nbsp;<small>/&nbsp;48 шт.</small></div>
			<div class="c-prom__para"><span>ВСЕГО ЗА 1000 р</span></div>
			<div class="c-prom__selection"><span>ЭКОНОМИЯ 338 р.</span></div>
			<div class="c-prom__text">Калифорния с крабом, Калифорния с креветкой, Калифорния с угрем, Калифорния с лососем, Калифорния с копченым лососем, Калифа лайт ролл</div>
		</div>
	</div>
</a>