<section class="c-advantagesWrapper">
	<div class="c-container c-container--expanded">
		<div class="c-advantages">
			<h2 class="c-advantages__title">Заказать суши с доставкой на дом</h2>
			<p class="c-advantages__text">Сушиstore - это сеть из более, чем 35-и суши-баров, службы доставки суши, роллов, сетов, wok (лапши и риса). Что отличает Сушиstore от остальных?</p>
			<div class="c-advantages__row">
				<div class="c-advantages__col">
					<ul class="c-advantages__list">
						<li>Качество продуктов. Доставка продуктов в наши суши-бары, происходит ежедневно, этим обусловлена исключительная свежесть наших суши и роллов.</li>
						<li>Качество приготовления. Генеральный директор Сушиstore, когда-то сам работал шеф-поваром, поэтому все сотрудники Сушиstore - настоящие профессионалы и фанаты своего дела. Секрет вкуса наших блюд, кроется в основательной разработке рецептуры, строгому следованию технологии приготовления и свежайшим продуктам, на чем основана японская кухня.</li>
						<li>Доступность и удобство. Многие суши-бары находятся в прикассовых зонах супермаркетов, поэтому пока вы делаете покупки в магазине, мы приготовим ваш заказ. Так же вы можете сделать заказ к удобному для вас времени.</li>
						<li>Так же вы можете сделать заказ по телефону, через сайт или мобильное приложение и самостоятельно забрать его в удобное для вас время.</li>
						<li>Заказ на доставку можно сделать по многоканальному телефону, через сайт или мобильное приложение ежедневно с 10:00 до 22:30.</li>
					</ul>
				</div>
				<div class="c-advantages__col">
					<ul class="c-advantages__list">
						<li>Быстрая доставка</li>
						<li>Профессиональные операторы примут и обработают ваш заказ, проинформируют о текущих акциях, порекомендуют и подробно расскажут, как происходит доставка роллов.</li>
						<li>Среднее время приготовления заказа - 15 минут.</li>
						<li>Доставка суши займет около 60 минут, в зависимости от удаленности адреса от ближайшего суши-бара и загруженности дорог.</li>
						<li>Заказ можно оплатить, как наличными, так и кредитной картой курьеру.</li>
						<li>Минимальная сумма заказа 699 рублей</li>
						<li>Мы честны со своими покупателями, поэтому не включаем расходы на доставку в стоимость суши, доставка оплачивается отдельно - 100 рублей.</li>
						<li>Ежемесячно проводятся различные привлекательные акции.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>