<!-- HEADER -->
<header class="c-header">
	<div class="c-container c-container--expanded">
		<div class="c-header__stupid-designer">
			<div class="c-header__row">
				<div class="c-header__col c-header__col--logo">
					<a title="SushiStore - Суши с доставкой на дом" href="/">

						<img src="/images/logo2.png" alt="SushiStore - Суши с доставкой на дом">

					</a>
				</div>
				<div class="c-header__col c-header__col--left">
					<select name="citySelect" id="headerCityChooser">
						<option value="0" selected>Москва</option>	
						<option value="1">Санкт-Петербург</option>	
					</select>
				</div>

				<div class="c-header__col c-header__col--center">
					Доставка: <div class="c-header__tel-rotator">
						<a class="c-header__tel c-header__tel--active" href="tel:+74952300000">+7 (495) 230-00-00</a>
						<a class="c-header__tel" href="tel:+74997043201">+7 (499) 704-32-01</a>
						<a class="c-header__tel" href="tel:+71111111111">+7 (111) 111-11-11</a>
					</div>	
					<div class="c-header__tel-handler"><span class="c-icon c-icon--telhandler"></span></div>
				</div>
				
				<div class="c-header__col c-header__col--right">
					<div class="c-cart">
						<a class="c-cart__link" href="#">Корзина</a> — <span class="c-cart__amount">310 р.</span>
					</div>
					<div class="c-header__burger">
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /HEADER -->
 