<!-- HEADER -->
<header class="c-header">
	<div class="c-container c-container--expanded">
		<div class="c-header__row">
			<div class="c-header__col c-header__col--left">
				<select name="citySelect" id="headerCityChooser">
					<option value="0">Москва</option>	
					<option value="1">Санкт-Петербург</option>	
				</select>
			</div>

			<div class="c-header__col c-header__col--center">
				Доставка: <div class="c-header__tel-rotator">
					<a class="c-header__tel c-header__tel--active" href="tel:+74952300000">+7 (495) 230-00-00</a>
					<a class="c-header__tel" href="tel:+74952300001">+7 (495) 230-00-01</a>
					<a class="c-header__tel" href="tel:+74952300002">+7 (495) 230-00-02</a>
				</div>	
				<div class="c-header__tel-handler"></div>
			</div>
			
			<div class="c-header__col c-header__col--right">
				<div class="c-cart">
					<a class="c-cart__link" href="#">Корзина</a> — <span class="c-cart__amount">310 р.</span>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /HEADER -->