{%- set category = [
	{
		"img": "category1.jpg",
		"caption": "Наборы",
		"url": "#"
	},
	{
		"img": "category2.jpg",
		"caption": "Роллы",
		"url": "#"
	},
	{
		"img": "category3.jpg",
		"caption": "Суши",
		"url": "#"
	},
	{
		"img": "category4.jpg",
		"caption": "WOK",
		"url": "#"
	},
	{
		"img": "category5.jpg",
		"caption": "Новинки",
		"url": "#"
	},
	{
		"img": "category6.jpg",
		"caption": "Салаты/супы",
		"url": "#"
	},
	{
		"img": "category7.jpg",
		"caption": "Десерт",
		"url": "#"
	},
	{
		"img": "category8.jpg",
		"caption": "Напитки",
		"url": "#"
	}

] -%}
<div class="c-kindsWrapper">
	<div class="c-kinds">
		{%- for item in category %}
			<a class="c-kinds__item" href="{{ item.url }}">
				<div class="c-kinds__img" style="background-image: url({{ Root ~ 'images/'  ~ item.img }})"></div>
				<div class="c-kinds__caption">{{ item.caption }}</div>
			</a>
		{% endfor -%}
	</div>
</div>