.c-slider {
  margin-bottom: 140px;
  outline: none !important;
  visibility: hidden;
  height: 330px;
  margin-left: 70px;
  margin-right: 70px;

  &.slick-initialized {
    visibility: visible;
    height: auto;
  }

  &__item {
    outline: none !important;
    
    a {
      outline: none !important;
    }
  }
}
